In [1]:
import numpy as np
import pandas as pd

# 저자

- TA: 성준모 (Joonmo Sung)
- SYSTEMS MODELING AND PROGRAMMING LAB DEPARTMENT OF INDUSTRIAL ENGINEERING, YONSEI UNIVERSITY - SYMPLY
- 문의: `sjm21314@naver.com`,`sjm21314@yonsei.ac.kr`
***
본 강의자료는 는 Unlu, Y., & Mason, S. J. (2010). Evaluation of mixed integer programming formulations
for non-preemptive parallel machine scheduling problems. Computers & Industrial Engineering,
58(4), 785-800 논문을 바탕으로 제작되었으며,

반도체데이터사이언스 협동과정 수업 용도 이외의 목적으로 저자의 허락 없이 다른 사람들과 공유할 수 없습니다.

In [2]:
# random seed를 정해줌. 고정시 계속 같은 data가 만들어짐
np.random.seed(917)

n = 5  # 작업 개수

In [3]:
# p_max, alpha는 임의로 고정
p_max = 20 # {20, 100} 중 하나 선택
alpha = 1 # {0, 1} 중 하나 선택, alpha = 0은 release time 없는 데이터

# Random generation 코드
p = np.random.randint(1, p_max+1, size=n) # processing time은 [1, p_max] uniform 분포 따름
w = np.random.randint(1, 11, size=n) # weight은 [1, 10] uniform 분포 따름
r = np.random.randint(0, int((alpha/2) * sum(p)) + 1, size=n) # [0, alpha/2*sum(p)] 분포를 따름
# d_j에 대한 데이터 generation 언급 없음. single machine의 기준을 그대로 사용하고자 함.

# L, R은 임의로 고름
L = 0.5 # {0.5, 0.7} 중 하나를 고르면 됨. release 데이터에서는 0.5로 고정
R = 0.8 # {0.4, 0.8, 1.4} 중 하나를 고르면 됨
d = np.random.randint(int(sum(p)*(L-R/2)), int(sum(p)*(L+R/2)) + 1, size = n) # [P(L - R/2), P(L + R/2)] 분포를 따름

In [4]:
# data 정보 저장한 dataframe 생성
df = pd.DataFrame({
    'N': np.arange(0, n),
    'p': p,
    'w': w,
    'd': d,
    'r': r
})

In [5]:
df

   N   p  w   d   r
0  0   1  6  30  22
1  1  15  3   5  16
2  2  12  2  15  15
3  3  13  5  22   4
4  4   9  2  40  10

In [6]:
# 데이터 사용 방법
# 1. 위 코드로 데이터 생성 후 바로 cvxpy or gurobi code 만들기

# 2. 위 데이터 저장 후 다른 파일에서 불러온 후 사용
# df.to_excel('Data.xlsx', index = False) # data를 xlsx 파일로 저장
# df.to_csv('Data.csv', index = False) # data를 csv 파일로 저장
df.to_json('data.json', indent = 2) # data를 json 파일로 저장